.App {
  text-align: center;
  font-family: Verdana;
  font-size: 13px;
}

.App-link {
  color: #61dafb;
}

.App header {
  margin-bottom: 20px;
}

.App footer {
  margin-bottom: 20px;
}

.QueryArea {
}

.QueryArea-text {
}

.QueryArea-panels {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.column {
  display: inline-block;
  margin-right: 20px;
  vertical-align: top;
}

.zzzQueryArea-panels:after {
  content: "";
  display: table;
  clear: both;
}

.QueryArea-panels .column {
  text-align: left;
}

.SearchResults-cards {
  border-collapse: collapse;
  margin-left: 10px;
}

.SearchResults-cards tr {
}

.SearchResults-cards tbody tr:nth-child(even) {
  background: #D0D0D0;
}

.SearchResults-cards tbody tr:nth-child(odd) {
  background: #F0F0F0;
}

.SearchResults-cards tr td {
  text-align: left;
  padding: 3px;
}

.SearchResults-cards thead {
  font-weight: bold;
}

