.App {
  text-align: center;
  font-family: Verdana;
  font-size: 13px;
}

.App-link {
  color: #61dafb;
}

.App header {
  margin-bottom: 20px;
}

.App footer {
  margin-bottom: 20px;
}

.QueryArea {
}

.QueryArea-text {
}

.QueryArea-panels {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.column {
  display: inline-block;
  margin-right: 20px;
  vertical-align: top;
}

.zzzQueryArea-panels:after {
  content: "";
  display: table;
  clear: both;
}

.QueryArea-panels .column {
  text-align: left;
}

.SearchResults-cards {
  border-collapse: collapse;
  margin-left: 10px;
}

.zzzSearchResults-cards tbody tr.Card-line:nth-child(even) {
  background: #D0D0D0;
}

.zzzSearchResults-cards tbody tr.Card-line:nth-child(odd) {
  background: #F0F0F0;
}

/* each row with search results has a top border */
.Card-line {
  border-top: 1px solid #999;
}

/* search result lines have alternating colors */
.Card-line-color-0 {
  background-color: #ddd;
}
.Card-line-color-1 {
  background-color: #F0F0F0;
}

/* show the final border line at the bottom of the table */
table.SearchResults-cards {
  border-bottom: 1px solid #999;
}

.SearchResults-cards tr td {
  text-align: left;
  padding: 3px;
}

.SearchResults-cards thead {
  font-weight: bold;
}

