.App {
  text-align: center;
  font-family: Verdana;
  font-size: 13px;
}

.App-link {
  color: #61dafb;
}

.App header {
  margin-bottom: 20px;
}

.App footer {
  margin-bottom: 20px;
}

.QueryArea {
}

.QueryArea-text {
}

table.QueryArea-top-table {
  margin-left: auto;
  margin-right: auto;
}

.QueryArea-panels {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.column {
  display: inline-block;
  margin-right: 20px;
  vertical-align: top;
}

.zzzQueryArea-panels:after {
  content: "";
  display: table;
  clear: both;
}

.QueryArea-panels .column {
  text-align: left;
}

.SearchResults {
  margin-left: 10px;
  margin-right: 10px;
}

.SearchResults-cards {
  border-collapse: collapse;
}

.SearchResults-cards-found {
  text-align: left;
}

/* each row with search results has a top border */
.Card-line {
  border-top: 1px solid #999;
}

/* search result lines have alternating colors */
.Card-line-color-0 {
  background-color: #ddd;
}
.Card-line-color-1 {
  background-color: #F0F0F0;
}

/* show the final border line at the bottom of the table */
table.SearchResults-cards {
  border-bottom: 1px solid #999;
}

.SearchResults-cards tr td {
  text-align: left;
  padding: 3px;
}

.SearchResults-cards thead {
  font-weight: bold;
}

.CardDetails-panel:after {
  content: "";
  display: table;
  clear: both;
}

.CardDetails-image {
  float: left;
  width: 500px;
}

.CardDetails-text {
  float: left;
  max-width: 45%;  /* prevent it from floating under the image? */
}

.CardDetails-text-table td:first-child {
  font-weight: bold;
  width: 150px;
  vertical-align: top;
}

.CardDetails-shadow-magi {
  background-color: #77008C;
  color: white;
  padding: 2px;
  font-weight: bold;
}

.CardDetails-text-table td.MRP {
  font-weight: normal;
}

.MRP-text {
  border: 1px solid #999;
  padding: 10px;
}

.blue {
  color: blue;
}

footer {
  margin: 10px;
  text-align: left;
}

.AboutLink {
  position: absolute;
  top: 10px;
  left: 10px;
}

.About {
  margin-top: 20px;
}

/* make this look like a link */
.About a {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.About div {
  margin-top: 10px;
  max-width: 50%;
}